.inputs {
    outline: 3px solid deeppink;
}

.inputs > .term {
    width: 235px;
    height: 34px;
    padding-left: 15px;
    resize: none;
}

.inputs > .btn {
    color: white;
    align-self: center;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.inputs > .btn:hover {
    background-color: gold;
}