body {
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (5, 1fr);
    outline: 3px solid rebeccapurple;
    background-color: mediumpurple;
    grid-template-areas: 'l c r';
}

div>textarea {
    width: 250px;
    height: 50px;
    resize: none;
}

div>button {
    grid-area: 4/4;
    color: white;
    align-self: center;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

div>button:hover {
    background-color: aqua;
}