div.info {
    display: grid;
    height: 50px;
    margin-top: 15px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
}

div>section>img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid grey;
}

div>section:nth-of-type(1) {
    grid-row: 2/5;
    grid-column: 4/6;
    text-align: center;
}

div>section:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 6/7;
    text-align: center;
}

div>section:nth-of-type(3) {
    grid-row: 3/4;
    grid-column: 6/7;
    text-align: center;
}

div>section:nth-of-type(4) {
    grid-row: 4/5;
    grid-column: 6/7;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background: #2196F3;
    color: white;
    padding-top: 12px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

div>section:nth-of-type(4):hover {
    background: #0b7dda;
}