.repos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-rows: 200px;
}

.repo2 {
    grid-column: 3 / 5;
    grid-row: 9/9;
    width: auto;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    line-height: 2rem;
}

.repoList {
    display: block;
    text-align: center;
    padding: 0 15px 0 15px;
    background-color: #F1F1F1;
    text-decoration: none;
    font-size: 1.5rem;
    color: #2196F3;
}

.repoList:last-child {
    margin-bottom: 15px;
    border-radius: 0 0 5px 5px;
}

.repoList:first-child {
    border-radius: 5px 5px 0 0;
}