/* body {
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (5, 1fr);
    outline: 3px solid rebeccapurple;
    background-color: mediumpurple;
    grid-template-areas: 'l c r';
} */