h1:nth-of-type(4) {
  color: red;
}
#third-h1 {
  color: #00FF00;
}
.my-h1 {
  color: rgb(255, 255, 0);
}

p {
  display: inline;
}

div {
  width: 100%;
  height: 100px;;
  background-color: yellow;

  display: flex;
  justify-content: space-around;
}

.myClass {
  padding-top: 100px;
  margin-top: 20px;
}


h1 {
  color: red;
  transition: color 2s;
}